@charset "utf-8";
body{
    margin: 0 auto;
}
.wrapper{
    box-sizing: border-box;
    background: yellow;
    line-height: 200px;
    margin: 0 auto;
    width: 800px;
    height: 800px;
}
.box{
    float: left;
}
.wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.wrapper [class^="box-"]{ 
    width: 200px;
    height: 200px;
    text-align: center;
}
.box-1, .box-5, .box-9, .box-11, .box-13{
    background: #888;
}
.box-2, .box-6, .box-10, .box-12, .box-14{
    background: #aaa;
}
.box-3, .box-7, .box-15{
    background: #bbb;
}
.box-4, .box-8, .box-16{
    background: #ccc;
}
.boxw-1{
    float: right;
    width: 200px;
}
.boxw-2{
    width: 400px;
    float: right;
}
.boxw-3{
    width: 400px;
    float: right;
}
.boxw-4{
    width: 200px;
    margin-top: -400px;
    float: left;
}
.box910{
    width: 200px;
    float: right;
}