@charset 'utf-8';

.btn-group{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    line-height: 3.5;

}
.btn-1{
    width: 200px;
    height: 50px;
    border: 2px solid skyblue;
    border-radius: 5px;    
    position: relative;
    margin-right: 100px;    
}
.btn-1::after{
    content: "";    
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 200px;
    left: 0;
    bottom: 0;
    background: skyblue;
    transition: right 0.5s ease-in-out;
}
.btn-1:hover::after{
    right: 0;
}
.btn-2{
    width: 200px;
    height: 50px;
    position: relative;
    margin-right: 100px;    
}
.btn-2::after{
    content: "";    
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    border-bottom: 2px solid skyblue;
    transition: all 0.5s;
}
.btn-2:hover::after{
    left: 0;
    right: 0;
}
.btn-3{
    width: 200px;
    height: 50px;
    position: relative;
}
.btn-3::after{
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
    border-radius: 5px;         
    transition: all 0.5s;   
}
.btn-3:hover::after{
    left: 0;
    right: 0;
}
.btn-3::before{
    content: "";    
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    border-left: 2px solid skyblue;
    border-right: 2px solid skyblue;
    border-radius: 5px;        
    transition: all 0.5s;       
}
.btn-3:hover::before{
    top: 0;
    bottom: 0;
}